@media (min-width: 700px){
    .conteudo{
        display: flex;
    }

    main{
        width: 72%;
    }

    aside{
        display: flex;
        flex-direction: column;
        width: 28%;
        margin-left: 20px;
    }

    .recentes{
        margin: 0 0 20px 0;
    }

    .aside-nav{
        padding: 5px 0;
    }
}

@media (min-width: 900px){
    .conteudo{
        width: 70%;
    }

    footer{
        width: 70%;
    }
}

@media (min-width: 1000px){
    .conteudo{
        width: 60%;
    }

    footer{
        width: 60%;
    }
}